@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in </h1>
    <h1 class="display-12">App2</h1>
    <p>The application is hosted in the region East US on Microsoft Azure </a></p>
</div>
